{{#ember-collection
  items=model
  cell-layout=(percentage-columns-layout content.length columns 48)
as |item index| }}
  <div class="listItem" data-index="{{index}}">
    <div>{{item.name}}</div>
    <label style="width: 48px"><input type="checkbox" checked={{item.completed}}></label>
  </div>
{{/ember-collection}}
{{yield}}
