<label class="centerContent" style="float:right; width:48px;height:48px;"><input type="checkbox" checked={{model.completed}}></label>
<div style="margin: 0 1em 1em 1em">{{model.name}}</div>
{{outlet}}
