<div style="height: 100vh; max-width: 35rem; margin-left: auto; margin-right: auto; display:flex; flex-direction:column">
  <h2>swipe left or right on list items</h2>
  {{touch-list content=content model=model}}
  {{outlet}}
</div>
